<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sml.mapper.CommunityReplyMapper">
  
  	<insert id="enrollReply">
  		INSERT INTO COMMUNITY_REPLY(MEM_CODE, COMM_CODE, REP_CONTENT) VALUES (
  		#{memCode},
  		#{commCode},
  		#{repContent}
  		)
  	</insert>
  	
  	<select id="checkReply" resultType="integer">
  		SELECT 
  			REP_CODE AS repCode 
  		 FROM COMMUNITY_REPLY
  		 WHERE MEM_CODE = #{memCode} AND COMM_CODE = #{commCode}
  	</select>
  	
  </mapper>