<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sml.mapper.CommunityReplyMapper">
  
  	<insert id="enrollReply" parameterType="CommunityReplyDTO">
  		INSERT INTO COMMUNITY_REPLY(COMM_CODE, MEM_CODE, REP_CONTENT, MEM_TARGET_CODE, COMM_GROUP, COMM_CODE) VALUES (
  			#{commCode},
  			#{memCode},
  			#{repContent, jdbcType=VARCHAR},
  			#{targetCode},
  			#{commGroup},
  			#{commCode}
  		)
  	</insert>
  	
  	<select id="getSequence" resultType="int">
  		SELECT COMMUNITY_REPLY
  	</select>

  
  </mapper>