<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sml.mapper.CommunityReplyMapper">
  
  	<select id="getReplyList" resultType="com.sml.model.CommunityReplyDTO">
  		<![CDATA[
  			SELECT * FROM (
  				SELECT
  					ROWNUM AS rn, 
  					r.REP_CODE AS repCode,
  					r.MEM_CODE AS memCode,
  					r.COMM_CODE AS commCode,
  					r.REP_CONTENT AS repContent,
  					r.MEM_TARGET_CODE AS targetCode,
  					r.REP_ENROLL_DATE AS renrollDate,
  					r.REP_MODIFY_DATE AS rmodifyDate,
  					m.MEM_NAME AS repWriter
  				FROM COMMUNITY_REPLY r
  				JOIN TB_MEMBER m ON r.MEM_CODE = m.MEM_CODE
  				WHERE r.REP_STATUS = 'N' AND   					
  		]]>
  			<if test="keyword != null">
                REP_CONTENT like '%'||#{keyword}||'%' AND
            </if>
        <![CDATA[
        		ROWNUM <= #{pageNum}*#{amount}
            	)
        	WHERE rn > (#{pageNum} - 1) * #{amount}       	
        ]]>
  	</select>
  	
  	<select id="replyGetTotal" resultType="int">
  		SELECT COUNT(*) FROM COMMUNITY_REPLY
  		<if test="keyword != null">
  			WHERE REP_CODE LIKE '%' || #{keyword} || '%'
  		</if>
  	</select>
  	
  </mapper>