<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sml.mapper.CommunityMapper">
  
  	<insert id="communityEnroll">
  		INSERT INTO COMMUNITY(COMM_TITLE, COMM_CONTENT, COMM_WRITER) VALUES(
  			#{commTitle},
  			#{commContent},
  			#{commWriter.memCode}
  		)
  	</insert>
  	
  	<select id="getBoardList" resultType="com.sml.model.CommunityVO">
  		<!-- SELECT COMM_CODE, COMM_TITLE, MEM_CODE, COMM_ENROLL_DATE, COMM_COUNT FROM COMMUNITY WHERE COMM_STATUS='N' -->
  		<!-- <![CDATA[
  			SELECT COMM_CODE, COMM_TITLE, MEM_CODE, COMM_ENROLL_DATE, COMM_COUNT FROM (
  				SELECT /*+INDEX_DESC(COMMUNITY COMM_CODE) */ 
  					ROWNUM AS 
  				FROM COMMUNITY
  				WHERE COMM_STATUS = 'N'
  		]]>
  		<if test="keyword != null">
  			AND COMM_TITLE LIKE '%'||#{keyword}||'%' AND
  		</if>
  		<![CDATA[
  				ROWNUM <= #{pageNum}*#{amount}
  				)
        	WHERE rn > (#{pageNum} - 1) * #{amount}
  		]]> -->
  		  		
  		SELECT 
            COMM_CODE as commCode, 
            COMM_TITLE as commTitle, 
            COMM_CONTENT as commContent, 
            COMM_ENROLL_DATE as enrollDate, 
            COMM_MODIFY_DATE as modifyDate, 
            COMM_POINT as commPoint, 
            COMM_SECRET as commSecret, 
            COMM_PASSWORD as commSecretPwd, 
            COMM_COUNT as commCount, 
            COMM_STATUS as commStatus, 
            COMM_WRITER as commWriter
        FROM COMMUNITY
         WHERE COMM_STATUS='N'

  	</select>
  	
  	<select id="board">
  	</select>
  	
  	<update id="modify">
  	</update>
  	
  	<update id="delete">
  	</update>
  	
  </mapper>
