<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sml.mapper.CourseApplyMapper">
	
	<insert id="courseApply">
		INSERT INTO COURSE_APPLICANT (MEM_CODE, COURSE_CODE) VALUES (
			#{memCode},
			#{courseCode}
		)
	</insert>
	
	<update id="coursePoint">
		UPDATE TB_MEMBER
			SET
				MEM_TOTAL_POINT = MEM_TOTAL_POINT - (
					SELECT COURSE_POINT
					FROM COURSE
					WHERE COURSE_CODE = #{courseCode}
				)
			WHERE 
				MEM_CODE = #{memCode}
	</update>
	
</mapper>