.community-menu {
	width: 200px;
	min-width: 200px;
	background-color: #fff;
	border-left: 3px solid #ddd;
	border-right: 3px solid #ddd;
	padding: 0 20px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.community-menu>a>h3 {
	margin-bottom: 1em;
	color: #467043;
	text-align: center;
}

.community-menu hr {
	color: #01530c;
	font-weight: 900;
}

.community-menu ul {
	list-style: none;
	padding: 0;
}

.community-menu ul li {
	margin: 10px 0;
	text-align: center;
}

.community-menu ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

.community-menu ul li a:hover {
	background-color: #f0f0f0;
	border-radius: 10px;
	color: #467043;
	font-weight: 700;
}

.community-menu ul li a.active {
	background-color: #467043; /* 활성화된 상태의 배경 색상 */
	color: #fff;
	font-weight: 700;
	border-radius: 10px;
}